@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');



nav{
    display: flex;
    align-items: center;
    height: 60px;  
    position: relative;
    border-bottom: 1px solid #495057
}

.icon{
    cursor: pointer;
    margin-right: 50px;
    line-height: 60px
}

.icon span{
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}

.icon img{
    display: inline-block;
    width: 26px;
    margin-top: 4px
}

.icon:hover{
    opacity: .7
}

.logo{
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications{
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span{
    color: #f00
}

.notifications-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover{
    background-color: #eee
}

.notifications-item img{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4{
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p{
    color: #aaa;
    font-size: 12px
}

body{
    background-color: #eaeaea;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2d2d;
}
.form-control{
    width: 350px;
}

.img-kategori{
    width: 50px;
}

.img-kategori:hover{
    transform: scale(1.3);
}
.row-container{
    background-color: #fff;
    margin: 0px;
}

.card:hover{
    border: 2px solid #2d2d2d;
}

